# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/

# Banco de dados e saídas locais
output/
*.db
*.sqlite
*.sqlite3

# Ambiente
.env

# Ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/
